.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e6f2ff;
 
}
.chat-move{
  position: relative;
  top: -100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.messages-container {
  width: 80%;
  max-height: 60%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
}

.message {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  word-break: break-word;
}

.user {
  border: 1px solid #c2e0ff;
  align-self: flex-end;
}

.bot {
  border: 1px solid #c2e0ff;
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
}

.input-area {
  display: flex;
  gap: 10px;
  width: 80%;
  margin-top: 20px;
}

h1{
  color: #a6d2ff
}
input {
  flex-grow: 1;
  border: 1px solid #007bff;
  border-radius: 10px;
}
input:focus {
  outline: none;
  border: 1px solid #007bff;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}